<div class="border rounded p-4 my-4">
    <h1>Add User</h1>
    <form (ngSubmit)="addUser()">
        <div class="form-group">
            <label>First Name</label>
            <input class="form-control" type="text" placeholder="First Name" [ngModel]="newUser.FirstName" name="FirstName" />
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input class="form-control" type="text" placeholder="Last Name" [ngModel]="newUser.LastName" name="LastName" />
        </div>
        <div class="form-group">
            <label>Email Address</label>
            <input class="form-control" type="email" placeholder="Email Address" [ngModel]="newUser.EmailAddress" name="EmailAddress" />
        </div>

        <button class="btn btn-primary text-right" type="submit">Add User</button>
    </form>
</div>
<div class="border rounded p-4 my-4" *ngIf="users?.length > 0">
    <h1>Users</h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    <th>Id</th>
                    <th>Created Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.FirstName }}</td>
                    <td>{{ user.LastName }}</td>
                    <td>{{ user.EmailAddress }}</td>
                    <td>{{ user.Id }}</td>
                    <td>{{ user.CreateDateTime | date:'medium' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
